/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* === General Styles === */

* {
  box-sizing: border-box;
}

body {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat center;
}

.location, .program, .gifts, .q-a, .contact {
  width: 95%;
}

a {
  text-decoration: none;
  color: #bd806e;
}

a:hover {
  color: #eda087;
  transition-property: color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

/* === "Header" Styles and Positioning === */

.cover {
  background-image: url(assets/wedding-landing-cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: table;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}

.head-tag {
  background-color: rgba(0,0,0,0.7);
  margin: 0.625rem auto;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.tagline, .byline {
  color: rgba(255,255,255,0.9);
}

.tagline {
  font-size: 1.5625rem;
  letter-spacing: 0.1875rem;
  padding-bottom: 0.625rem;
}

.tagline::after {
  content: "";
  display: block;
  height: 0.0625rem;
  width: 12.5rem;
  background-color: white;
  margin: 0.5rem auto;
}

.headline {
  color: #d2ba87;
  font-family: "Great Vibes", cursive;
  font-size: 3.125rem;
  padding-bottom: 0.625rem;
}

.byline {
  font-size: 1.5625rem;
  letter-spacing: 0.125rem;
}

.byline::before {
  content: "";
  display: inline-block;
  height: 0.0625rem;
  width: 1.25rem;
  background-color: white;
  vertical-align: middle;
  margin: 0 0.5rem;
}

.byline::after {
  content: "";
  display: inline-block;
  height: 0.0625rem;
  width: 1.25rem;
  background-color: white;
  vertical-align: middle;
  margin: 0 0.5rem;
}

/* === Header Media Queries === */

@media screen and (min-width: 768px) {
  
  .head-tag {
    padding: 1.25rem;
    border-radius: 4px;
    width: 50%;
  }
  
  .headline {
    font-size: 6.875rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  
  .tagline {
    text-transform: uppercase;
    font-size: 1.375rem;
  }
}

/* === "Location" Styles and Positioning === */

.location {
  background-image: url(assets/wedding-landing-background.png);
  background-repeat: repeat;
  width: 100vw;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.location h1 {
  font-family: "Great Vibes", cursive;
  font-size: 3.125rem;
  color: #444349;
  padding: 1rem 0;
}

.location h2 {
  font-size: 1.5625rem;
  font-family: "Libre Baskerville", serif;
  color: #444349;
  opacity: 85%;
  padding: 0.625rem 0;
  font-weight: 600;
}

.location img {
  width: 7.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.location p {
  font-size: 1.125rem;
  font-family: Muli, sans-serif;
  color: #444349;
  opacity: 90%;
  padding-top: 0.625rem;
}

.package1::after {
  content: "";
  display: block;
  height: 0.1875rem;
  width: 7.5rem;
  background-color: #444349;
  opacity: 90%;
  margin: 1.5rem auto;
}

/* === Location Media Queries === */ 

@media screen and (min-width: 768px) {
  
  .package1 {
    float: left;
    width: 31%;
    display: inline-block;
    padding: 1.5rem;
    margin: 0.5rem;
  }
  
  .package1::after {
    display: none;
  }
  
  .location::after {
    content: "";
    clear: both;
    display: block;
  }
}

/* === "Programs" Styles and Positioning === */

.program {
  background-color: hsla(100,0%,0%,0.6);
  width: 100%;
  color: #d2ba87;
  margin: 1.5rem auto;
  text-align: center;
  padding-bottom: 1.5rem;
}

.program h1 {
  font-family: "Great Vibes", cursive;
  font-size: 3.125rem;
  padding: 1.875rem;
}

.program-wrapper {
  display: inline-block;
  text-align: left;
  font-family: "Muli", sans-serif;
  font-size: 1.125rem;
}

.program-wrapper p {
  font-style: italic;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
}

.program-wrapper ul {
  letter-spacing: 0.125rem;
}

.program-wrapper li {
  padding-top: 0.3125rem;
  padding-bottom: 0.5rem;
}

/* === "Gifts" Styles and Positioning === */

.gifts {
  width: 100vw;
  text-align: center;
  color: #444349;
  padding-bottom: 1rem;
  margin: 1.5rem auto;
}

.gifts h1 {
  font-family: "Great Vibes", cursive;
  font-size: 3.125rem;
  padding: 1rem 0;
}

.gifts img {
  width: 7.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.gifts p {
  font-family: "Libre Baskerville", sans-serif;
  font-size: 1.125rem;
  padding-top: 0.5rem;
}

/* === "Questions & answers" Styles and Positioning === */

.q-a {
  background-color: hsla(100,0%,0%,0.6);
  color: #d2ba87;
  width: 100vw;
  margin: 1.5rem auto;
  padding: 0.5rem 1rem;
}

.q-a h1 {
  font-family: "Great Vibes", cursive;
  font-size: 3.125rem;
  text-align: center;
  padding: 1.5rem 0;
}

.q-a h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 1.5625rem;
  text-align: center;
  padding: 1.5rem 0;
}

.q-a p {
  font-family: Muli, sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}

.q-a .question {
  font-weight: 600;
}

.q-a .answer {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

.package2::after {
  content: "";
  display: block;
  height: 0.1875rem;
  width: 15.625rem;
  background-color: #d2ba87;
  margin: 0.5rem auto;
}

/* === Q-A Media Queries === */

@media screen and (min-width: 768px) {
  
  .package2 {
    display: inline-block;
    float: left;
    width: 30%;
    margin: 1.5rem 0.7rem;;
    padding: 0.5rem;
    vertical-align: top;
  }
  
  .package2::after {
    display: none;
  }
  
  .q-a h2 {
    text-align: left;
  }
  
  .q-a::after {
    content: "";
    clear: both;
    display: block;
  }
}

/* === Contact Styles and Positioning === */

.contact {
  color: #444349;
  width: 100vw;
  text-align: center;
  padding: 1rem
}

.contact h1 {
  font-family: "Great Vibes", cursive;
  font-size: 3.125rem;
  padding: 1rem 0;
}

.contact p {
  font-family: "Libre Baskerville", sans-serif;
  font-size: 1.125rem;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem; 
  line-height: 1.5;
}

/* === Footer === */

footer {
  background-color: #606060;
  color: #ffffff;
  width: 100%;
  height: 5rem;
  display: table;
  text-align: center;
  font-family: Muli, sans-serif;
  font-size: 0.875rem;
}

footer .wrapper {
  display: table-cell;
  vertical-align: middle;
}

/* === Footer Media Queries === */

@media screen and (min-width: 768px) {
  
  footer {
    height: 7rem;
  }
}